.blinking {
    transition: opacity 2s ease-in-out infinite;
    animation: blinker 2s linear infinite;
    color: red;
    opacity: 1;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5
  }

  100% {
    opacity: 0;
  }
}